<h1>Sports</h1>

<div>
    <input type='checkbox' name='system_type17' value='2' />
    <input type="checkbox" name="system_type3" value="5" />
    <span style="width:100px;display:inline-block;">Soccer</span>
    <input type='checkbox' name='system_type17' value='2' />
    <input type="checkbox" name="system_type3" value="5" />
    <span style="width:100px;display:inline-block;">Mercedes</span>
</div>           
<div>
    <input type='checkbox' name='system_type18' value='3' />
    <input type='checkbox' name='system_type4' value='4' />
    <span style="width:100px;display:inline-block;">Mercedes</span>
    <input type="checkbox" name="system_type7" value="2" />
    <input type="checkbox" name="system_type8" value="3" />
    <span style="width:100px;display:inline-block;">Mercedes</span>
</div>