ul {
    /* list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:100%;
    border-radius: 10px;
    height: 100px; */

    list-style-type: none;
  margin: 4px;
  padding: 0;
  overflow: hidden;
  height:8%;
  background-color:#257C9E;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color:#257C9E;
    color:white
  }

  

  